*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #EFF5F5;
}

#mensajecopiado{
    opacity: 0.4;
}

textarea::-webkit-scrollbar{
    width: 0px;
}

.entrada{
    position: relative;
    justify-content: center;
    height: 900px;
    text-align: left;
}

.salida{
    position: absolute;
    width: 40%;
    height: 800px;
    margin-left: 55%;
    top: 7%;
    background: #FFFFFF;
    border-radius: 32px;

    text-align: center;
}

.entrada #mensaje{
    width: 40%;
    height:30%;
    margin-left: 8%;
    margin-top: 10%;
}

.entrada #encriptar{
    margin-left: 16%;
    background-color: #0A3871;
    color: #FFFFFF;
}

.entrada #desencriptar{
    margin-left: 1.2%;
    color: rgb(10, 56, 113);
    background-color: #D6E4E5;
}

.salida #copiar{
    background-color: #FFFFFF;
}

button{
    width: 12%;
    height: 50px;
    border-radius: 10px;
    border-color: #0A3871;
    border-style: double;
    font-size: 90%;
}

.salida button{
    width: 30%;
}

.salida #respuesta{
    width: 85%;
    height: 630px;
    margin-top: 5%;
    line-height: 150%;

    color: #495057;
}

.fo

table::-webkit-scrollbar{
    width: 0px;
}

textarea{
    resize: none;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 25px;
    outline: none;
    border-color: #0A3871;
}

.salida #imagen{
    width: 90%;
    height:100%;
    left: 1032px;
    padding-top: 10px;
}

.entrada p{
    margin-left: 16.3%;
    color: #95989b;
}

.entrada p i{
    margin-right: 3px;
}