*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #EFF5F5;
}

#mensajecopiado{
    opacity: 0.4;
}

textarea::-webkit-scrollbar{
    width: 0px;
}

.entrada{
    position: relative;
    justify-content: center;
    height: 944px;
    text-align: left;
}

.salida{
    position: absolute;
    width: 560px;
    height: 900px;
    left: 1000px;
    top: 40px;

    background: #FFFFFF;
    border-radius: 32px;

    text-align: center;
}

.entrada textarea{
    width: 700px;
    height:400px;
    margin-left: 8%;
    margin-top: 200px;

    font-style: normal;
}

.entrada #encriptar{
    margin-left: 20%;
    background-color: #0A3871;
    color: #FFFFFF;
}

.entrada #desencriptar{
    color: #0A3871;
    background-color: #D6E4E5;
}

button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border-color: #0A3871;
    border-style: double;
    font-size: 15px;
}

.salida #respuesta{
    width: 500px;
    height: 700px;
    left: 132px;
    margin-top: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    color: #495057;
}

.salida #copiar{
    background-color: #D6E4E5;
}
table::-webkit-scrollbar{
    width: 0px;
}

textarea{
    resize: none;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 25px;
    outline: none;
    border-color: #0A3871;
}

.salida #imagen{
    width: 330px;
    height: 330px;
    left: 1032px;
    padding-top: 10px;
}

.entrada p{
    margin-left: 20%;
    opacity: 45%;
}