*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #EFF5F5;
}

#mensajecopiado{
    opacity: 0.4;
}

textarea::-webkit-scrollbar{
    width: 0px;
}

.entrada{
    position: relative;
    justify-content: center;
    height: 900px;
    text-align: left;
}

.salida{
    position: absolute;
    width: 40%;
    height: 700px;
    left: 55%;
    top: 9%;

    background: #FFFFFF;
    border-radius: 32px;

    text-align: center;
}

.entrada #mensaje{
    width: 40%;
    height:30%;
    margin-left: 8%;
    margin-top: 10%;
}

.entrada #encriptar{
    margin-left: 17%;
    background-color: #0A3871;
    color: #FFFFFF;
}

.entrada #desencriptar{
    margin-left: 3%;
    color: #0A3871;
    background-color: #D6E4E5;
}

button{
    width: 9%;
    height: 50px;
    border-radius: 10px;
    border-color: #0A3871;
    border-style: double;
    font-size: 15px;
}

.salida #respuesta{
    width: 85%;
    height: 630px;
    margin-top: 5%;
    line-height: 150%;

    color: #495057;
}

.salida #copiar{
    background-color: #D6E4E5;
}
table::-webkit-scrollbar{
    width: 0px;
}

textarea{
    resize: none;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 25px;
    outline: none;
    border-color: #0A3871;
}

.salida #imagen{
    width: 330px;
    height: 330px;
    left: 1032px;
    padding-top: 10px;
}

.entrada p{
    margin-left: 18%;
    opacity: 45%;
}